* {
  margin: 0;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}

/* -----header area ----- */

.header {
  height: 80px;
  align-items: center;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.nav ul li {
  display: inline-block;
  margin-right: 10px;
}
.nav li {
  list-style: none;
}
.nav li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.hero-area {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
}
.hero-content {
  width: 50%;
}
#hero-img {
  width: 100%;
  cursor: pointer;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.hero-content p {
  margin-bottom: 20px;
}
.hero-content h1 {
  font-size: 35px;
}
.hbtn {
  text-decoration: none;
  background-color: #e02c6d;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
}
#hero-bk {
  background-image: url(images/Circle\ design.svg);
  background-repeat: no-repeat;
}
.optional {
  width: 80%;
  margin: auto;
  text-align: center;
}
.optional-img {
  margin-top: 30px;
  border-top: 2px solid rgba(128, 128, 128, 0.08);
  border-bottom: 2px solid rgba(128, 128, 128, 0.08);
}
.optional-img img {
  width: 50px;
  margin-right: 10px;
}

.collection {
  text-align: center;
}
.collection h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.fa-star {
  color: orange;
}

.products {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-color: white;
}
.product {
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 18px 5px rgba(94, 99, 102, 0.15);
}
.product img {
  width: 300px;
}
.product h4 {
  font-weight: 300;
}
.smbtn {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}
.smbtn a {
  margin-top: 10px;
  font-weight: 600;
  color: #e02c6d;
  text-decoration: none;
}

/* optional area  */

.row {
  display: flex;
}
.main-col {
  flex-basis: 31%;
  background: #edf5f6;
  border-radius: 10px;
  margin-bottom: 16px;
  margin-right: 5px;
  padding: 7px;
  box-sizing: border-box;
}
.main-col img {
  width: 60px;
}

#hero-im {
  width: 100%;
  margin-top: 40px;
  border-radius: 20px;
}

.footer {
  margin-top: 50px;
  text-align: center;
}
.footer h1 {
  font-size: 26px;
  color: white;
  padding-top: 50px;
}
.footer p {
  color: white;
  font-size: 14px;
}
.icons {
  display: flex;
  justify-content: center;
}
.icon {
  color: rgba(255, 255, 255, 0.548);
  background-color: #aaaaaa49;
  padding: 4px;
  font-size: 15px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.footer-area {
  background-color: #0a0826;
}

/* ------hover effect ---- */

#hero-img:hover {
  transform: scale(1.2);
}
.hbtn:hover {
  transition: 0.4s ease-in-out;
  background-color: blue;
  color: white;
}

/* -------------rensponsive --------- */
@media only screen and (max-width: 600px) {
  .hero {
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
  }
  .hero-area {
    flex-direction: column-reverse;
  }
  .hero-content {
    width: 100%;
    text-align: center;
  }
  .products img {
    width: 100%;
  }
  .products {
    width: 90%;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
  }
  .header {
    width: 90%;
    justify-content: space-between;
  }
  .nav-area {
    display: none;
  }
  .row {
    width: 100%;
    justify-content: space-between;
  }
  #hero-bk {
    background-position: center;
    background-size: cover;
  }
}

/* -----tablet responsive ---- */

@media only screen and (min-width: 600px) and (max-width: 990px) {
  .products {
    width: 90%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
  }
  #hero-tab {
    width: 100%;
  }
  #hero-tab2 {
    width: 100%;
  }
  #hero-tab h1 {
    font-size: 24px;
  }
  .hero-area {
    width: 90%;
  }
}
